.liquidChrome-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  overflow: hidden;
  background: #000;
}

.liquidChrome-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

